<template>
  <div class="col-sm-12 mb-4">
    <div class="card-group">
      <div class="card col-md-6 no-padding">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-users">
            </i>
          </div>
          <div class="h4 mb-0">
            <span class="count">₿ ${balances.chainBalance}</span>
          </div>
          <small class="text-muted text-uppercase font-weight-bold">Chain Balance</small>
          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;">
          </div>
        </div>
      </div>
      <div class="card col-md-6 no-padding">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-user-plus">
            </i>
          </div>
          <div class="h4 mb-0">
            <span class="count">₿ ${balances.channelBalance}</span>
          </div>
          <small class="text-muted text-uppercase font-weight-bold">Channel Balance</small>
          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;">
          </div>
        </div>
      </div>
      <div class="card col-md-6 no-padding">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-cart-plus">
            </i>
          </div>
          <div class="h4 mb-0">
            <span class="count">₿ ${balances.pendingChainBalance}</span>
          </div>
          <small class="text-muted text-uppercase font-weight-bold">Pending Chain Balance</small>
          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;">
          </div>
        </div>
      </div>
      <div class="card col-md-6 no-padding">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-cart-plus">
            </i>
          </div>
          <div class="h4 mb-0">
            <span class="count">₿ ${balances.pendingChannelBalance}</span>
          </div>
          <small class="text-muted text-uppercase font-weight-bold">Pending Channel Balance</small>
          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
